{% extends 'ims/base.html' %}
{% block content %}
<center>
<table style="vertical-align: top; table-layout: fixed;">
    <td style="vertical-align: top; padding: 20px;">
        <table style="float: left; table-layout: fixed;">
            <th><h1>In Stock</h1></th>
            {% for item in inventoryitems %}
                {% if item.in_stock > item.on_hold %}
                    <tr> 
                        <td>
                            <article class="inventoryitem">
                                <h3><a href="{% url 'inventory_item_details' pk=item.pk %}">{{ item.title }}</a></h3>
                                <img src="{{ item.thumbnail_base64_image_str }}" alt="{{ inventoryitem.title }}">
                                <!--<p>{{ item.description|linebreaksbr }}</p>-->
                                <p>In stock: {{ item.in_stock }}</p>
                                <p>On hold: {{ item.on_hold }}</p>
                                <p>Price: {{ item.price }}</p>
                            </article>
                        </td>
                    </tr>
                {% endif %}
            {% endfor %}
        </table>
    </td>
    <td style="vertical-align: top; padding: 20px;">
        <table style="float: left; vertical-align: top; table-layout: fixed;">
            <th><h1>Out-of-Stock</h1></th>
            {% for item in inventoryitems %}
                {% if item.in_stock <= item.on_hold %}
                    <tr>
                        <td style="vertical-align: top;">
                            <article class="inventoryitem">
                                <h3><a href="{% url 'inventory_item_details' pk=item.pk %}">{{ item.title }}</a></h3>
                                <!--<p>{{ item.description|linebreaksbr }}</p>-->
                                <img src="{{ item.thumbnail_base64_image_str }}" alt="{{ inventoryitem.title }}">
                                <p>In stock: {{ item.in_stock }}</p>
                                <p>On hold: {{ item.on_hold }}</p>
                                <p>Price: {{ item.price }}</p>
                            </article>
                        </td>
                    </tr>
                {% endif %}
            {% endfor %}
        </table>
    </td>
    <td style="vertical-align: top; padding: 20px;">
        <table style="float: right; vertical-align: top; table-layout: fixed;">
            <th><h1>In Need of Restock</h1></th>
            {% for item in inventoryitems %}
                {% if item.needs_restocking and item.in_stock > item.on_hold %}
                    <tr>
                        <td style="vertical-align: top;">
                            <article class="inventoryitem">
                                <h3><a href="{% url 'inventory_item_details' pk=item.pk %}">{{ item.title }}</a></h3>
                                <!--<p>{{ item.description|linebreaksbr }}</p>-->
                                <img src="{{ item.thumbnail_base64_image_str }}" alt="{{ inventoryitem.title }}">
                                <p>In stock: {{ item.in_stock }}</p>
                                <p>On hold: {{ item.on_hold }}</p>
                                <p>Price: {{ item.price }}</p>
                                <p>Minimum quantity in stock: {{ item.min_quantity_in_stock }}</p>
                            </article>
                        </td>
                    </tr>
                {% endif %}
            {% endfor %}
        </table>
    </td>
</table>  
</center>          
{% endblock %}